<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key0" value="C:\Users\Владик\source\repos\laba4dot\laba4dot\bin\Debug\Lab_4_platezhi.csv"/>
    <add key="key1" value="C:\Users\Владик\source\repos\laba4dot\laba4dot\bin\Debug\Lab_4_scheta.xml"/>
    <add key="key3" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=Lab6Db;Integrated Security=True"/>
  </appSettings>
</configuration>